.dashboard {
  background-color: $anchor-color;
  
  .home {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto;

    .no-decks {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      align-items: center;

      h1 {
        color: $space-color;
      }
    }
  }
}