@import '../_variables';

.app-bar {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: $anchor-color;
  border-bottom: 1px solid $space-color;

  a {
    color: $accent-color;
    transition: color 0.5s ease;
  }

  a:hover {
    color: $secondary-color;
  }

  .logo-link {
    // line-height: 50px;
    margin-left: 15px;
    font-size: 2em;
    align-self: center;

    img {
      height: 40px;
      color: $accent-color;
      margin-top: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: rotate(720deg) scale(0.5);
        // transform: scale(1.3);
      }
    }
  }

  .brand-link {
    // line-height: 50px;
    margin-left: 65px;
    font-size: 2em;
    color: $space-color;
    text-decoration: none;
    align-self: center;
  }
  
  .active-user-image {
    height: 50px;
    width: auto;
  }

  .app-actions {
    margin-left: auto;
    margin-right: 10px;
    align-self: center;

    .login-icon {
      margin-right: 5px;
    }

    .login-button {
      cursor: pointer;
      width: 150px;
      padding: 10px;
      background-color: $anchor-color;
      color: $accent-color;
      border: 1px solid $space-color;
    }

    .logout-button {
      cursor: pointer;
      width: 150px;
      padding: 10px;
      background-color: $anchor-color;
      color: $accent-color;
      border: 1px solid $space-color;
      margin-left: 10px !important;
    }

    .login-button:hover, .logout-button:hover {
      color: $space-color;
      background-color: $primary-color;
    }
    
    .active-user {
      color: $accent-color;
    }
  }
}

.app-sidebar {
  will-change: transform;

  i {
    position: absolute;
    color: $space-color;
    top: 60px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $accent-color;
      transform: rotate(90deg);
    }
  }
}

.app-footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: $anchor-color;
  border-top: 1px solid $space-color;

  a {
    color: $accent-color;
    transition: color 0.5s ease;
  }

  a:hover {
    color: $secondary-color;
  }

  .logo-link {
    // line-height: 50px;
    margin-left: 15px;
    font-size: 1.3em;
    align-self: center;
  }

  .brand-link {
    // line-height: 50px;
    margin-left: 15px;
    font-size: 1.3em;
    color: $space-color;
    text-decoration: none;
    align-self: center;
  }

  .dashboard-link {
    // line-height: 50px;
    margin-left: auto;
    margin-right: 10px;
    border: 1px solid $space-color;
    padding: 5px;

    font-size: 1.5em;
    color: $accent-color;
    text-decoration: none;
    align-self: center;

    &:hover {
      color: $secondary-color;
    }

    i {
      margin-right: 5px;
    }
  }
}





















/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 8px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $accent-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $primary-color;
}

/* General sidebar styles */
.bm-menu {
  background: $anchor-color;
  padding: 0;
  font-size: 2em;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $anchor-color;
}

/* Wrapper for item list */
.bm-item-list {
  color: $space-color;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $accent-color;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}