html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Rubik', 'Source Sans Pro', sans-serif; }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 100%; }

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit; }

.app-body {
  position: relative;
  margin-top: 50px; }

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  overflow: hidden; }
  .flex.columns {
    flex-direction: column; }
  .flex.wrap {
    flex-wrap: wrap; }
  .flex.between {
    justify-content: space-between; }
  .flex .center {
    align-self: center; }

.link {
  text-decoration: none;
  color: white; }

.active-link {
  text-decoration: none;
  color: white; }

.form {
  align-self: center; }

.button {
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: none;
  border: 1px solid #FFFFFF;
  color: #8bffd1;
  background-color: #3b3838;
  transition: all 0.2s linear;
  cursor: pointer; }
  .button i {
    margin-right: 5px; }
  .button:hover {
    background-color: #6457A6;
    color: white; }

/* Notifications */
.dark-toast {
  background-color: #3b3838;
  color: #8bffd1; }
  .dark-toast.Toastify__toast--error {
    color: #d47a7a; }
  .dark-toast.Toastify__toast--error {
    color: #d47a7a; }
  .dark-toast .Toastify__progress-bar--success {
    background-color: #8bffd1; }
  .dark-toast .Toastify__progress-bar--error {
    background-color: #d47a7a; }

.app-bar {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #3b3838;
  border-bottom: 1px solid #FFFFFF; }
  .app-bar a {
    color: #8bffd1;
    transition: color 0.5s ease; }
  .app-bar a:hover {
    color: #AEBBFF; }
  .app-bar .logo-link {
    margin-left: 15px;
    font-size: 2em;
    align-self: center; }
    .app-bar .logo-link img {
      height: 40px;
      color: #8bffd1;
      margin-top: 5px;
      transition: all 0.3s ease-in-out; }
      .app-bar .logo-link img:hover {
        transform: rotate(90deg); }
  .app-bar .brand-link {
    margin-left: 15px;
    font-size: 2em;
    color: #FFFFFF;
    text-decoration: none;
    align-self: center; }
  .app-bar .active-user-image {
    height: 50px;
    width: auto; }
  .app-bar .app-actions {
    margin-left: auto;
    margin-right: 10px;
    align-self: center; }
    .app-bar .app-actions .login-icon {
      margin-right: 5px; }
    .app-bar .app-actions .login-button {
      cursor: pointer;
      width: 150px;
      padding: 10px;
      background-color: #3b3838;
      color: #8bffd1;
      border: 1px solid #FFFFFF; }
    .app-bar .app-actions .logout-button {
      cursor: pointer;
      width: 150px;
      padding: 10px;
      background-color: #3b3838;
      color: #8bffd1;
      border: 1px solid #FFFFFF;
      margin-left: 10px !important; }
    .app-bar .app-actions .login-button:hover, .app-bar .app-actions .logout-button:hover {
      color: #FFFFFF;
      background-color: #6457A6; }
    .app-bar .app-actions .active-user {
      color: #8bffd1; }

.app-footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #3b3838;
  border-top: 1px solid #FFFFFF; }
  .app-footer a {
    color: #8bffd1;
    transition: color 0.5s ease; }
  .app-footer a:hover {
    color: #AEBBFF; }
  .app-footer .logo-link {
    margin-left: 15px;
    font-size: 1.3em;
    align-self: center; }
  .app-footer .brand-link {
    margin-left: 15px;
    font-size: 1.3em;
    color: #FFFFFF;
    text-decoration: none;
    align-self: center; }
  .app-footer .dashboard-link {
    margin-left: auto;
    margin-right: 10px;
    border: 1px solid #FFFFFF;
    padding: 5px;
    font-size: 1.5em;
    color: #8bffd1;
    text-decoration: none;
    align-self: center; }
    .app-footer .dashboard-link:hover {
      color: #AEBBFF; }
    .app-footer .dashboard-link i {
      margin-right: 5px; }

.welcome {
  position: relative;
  background-color: #3b3838; }
  .welcome .welcome-banner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1; }
    .welcome .welcome-banner .header {
      color: #FFFFFF;
      font-size: 2em; }
    .welcome .welcome-banner .create-now {
      align-self: center;
      margin-top: 5px;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      color: #8bffd1;
      background-color: #3b3838;
      transition: all 0.5s linear; }
    .welcome .welcome-banner .create-now:hover {
      color: #FFFFFF;
      background-color: #6457A6; }

.dashboard {
  background-color: #3b3838; }
  .dashboard .home {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto; }
    .dashboard .home .no-decks {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      align-items: center; }
      .dashboard .home .no-decks h1 {
        color: #FFFFFF; }

.search .search-stuff {
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px; }
  .search .search-stuff label {
    color: #FFFFFF; }
    .search .search-stuff label input {
      height: 35px;
      border: none;
      padding: 0px 10px 0 10px;
      margin-left: 10px; }
  .search .search-stuff button {
    margin-left: 10px; }
  .search .search-stuff * {
    align-self: center; }

.search .cards {
  max-width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  margin: 1em auto;
  align-content: space-between; }
  .search .cards::-webkit-scrollbar {
    display: none; }
  .search .cards .cards-loader {
    height: 100px;
    width: 200px; }
  .search .cards .card-tile {
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 270px;
    margin: 5px; }
    .search .cards .card-tile .card-tile-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px; }
    .search .cards .card-tile img {
      width: 200px;
      height: 270px;
      transition: all .2s ease-in-out; }
      .search .cards .card-tile img:hover {
        transform: scale(1.05); }

.card-view-container {
  display: flex;
  justify-content: center;
  margin: 20px auto; }
  .card-view-container .card-view {
    display: flex; }
    .card-view-container .card-view img {
      align-self: flex-start; }
    .card-view-container .card-view .card-info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      color: #FFFFFF; }
      .card-view-container .card-view .card-info label {
        border: 1px solid #FFFFFF;
        padding: 5px;
        max-width: 350px;
        color: #8bffd1; }
        .card-view-container .card-view .card-info label:not(:first-child) {
          margin-top: 10px; }
        .card-view-container .card-view .card-info label span {
          margin-left: 5px;
          color: #FFFFFF; }
