html, body, #root {
  background-color: #222222;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Rubik', 'Source Sans Pro', sans-serif; }

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 100%; }

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit; }

.app-body {
  position: relative;
  margin-top: 50px; }

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  overflow: hidden; }
  .flex.columns {
    flex-direction: column; }
  .flex.wrap {
    flex-wrap: wrap; }
  .flex.between {
    justify-content: space-between; }
  .flex .center {
    align-self: center; }

.link {
  text-decoration: none;
  color: white; }

.active-link {
  text-decoration: none;
  color: white; }

.form {
  align-self: center; }

.button {
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: none;
  border: none;
  color: #272F38;
  background-color: #8E2C2C;
  transition: all 0.2s linear;
  text-transform: uppercase;
  cursor: pointer; }
  .button i {
    margin-right: 10px; }
  .button:hover {
    background-color: #222222;
    color: #EF892F; }

/* Notifications */
.dark-toast {
  background-color: #222222;
  color: #EF892F; }
  .dark-toast.Toastify__toast--error {
    color: #d47a7a; }
  .dark-toast.Toastify__toast--error {
    color: #d47a7a; }
  .dark-toast .Toastify__progress-bar--success {
    background-color: #EF892F; }
  .dark-toast .Toastify__progress-bar--error {
    background-color: #d47a7a; }

.app-bar {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: #222222;
  border-bottom: 1px solid #FFFFFF; }
  .app-bar a {
    color: #EF892F;
    transition: color 0.5s ease; }
  .app-bar a:hover {
    color: #8E2C2C; }
  .app-bar > * {
    flex-grow: 1;
    flex-basis: 0; }
  .app-bar .logo-link {
    margin-left: 15px;
    font-size: 2em;
    align-self: center; }
    .app-bar .logo-link img {
      height: 40px;
      color: #EF892F;
      margin-top: 5px;
      transition: all 0.3s ease-in-out; }
      .app-bar .logo-link img:hover {
        transform: rotate(720deg) scale(0.5); }
  .app-bar .brand-image {
    flex: 0 0 40px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out; }
    .app-bar .brand-image:hover {
      transform: rotate(720deg) scale(0.5); }
  .app-bar .brand-link {
    margin-left: 10px;
    font-size: 2em;
    color: #FFFFFF;
    text-decoration: none;
    align-self: center; }
  .app-bar .active-user-image {
    height: 50px;
    width: auto; }
  .app-bar .search-stuff {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    margin: auto; }
    .app-bar .search-stuff label {
      color: #FFFFFF; }
      .app-bar .search-stuff label input {
        height: 35px;
        border: none;
        padding: 0px 10px 0 10px;
        margin-left: 10px; }
    .app-bar .search-stuff button {
      color: #FFFFFF;
      margin-left: 10px; }
      .app-bar .search-stuff button:hover {
        color: #EF892F; }
    .app-bar .search-stuff * {
      align-self: center; }
  .app-bar .app-actions {
    align-self: center; }
    .app-bar .app-actions .login-icon {
      margin-right: 5px;
      color: #FFFFFF; }
    .app-bar .app-actions .login-button {
      cursor: pointer;
      padding: 10px;
      background-color: #222222;
      color: #EF892F;
      border: 1px solid #FFFFFF;
      margin: 5px 5px 5px auto; }
    .app-bar .app-actions .logout-button {
      cursor: pointer;
      padding: 10px;
      background-color: #222222;
      color: #EF892F;
      border: 1px solid #FFFFFF;
      margin-left: 10px !important;
      margin: 5px 10px 5px 0; }
    .app-bar .app-actions .login-button:hover, .app-bar .app-actions .logout-button:hover {
      color: #FFFFFF;
      background-color: #8E2C2C; }
    .app-bar .app-actions .active-user {
      margin-left: auto;
      margin-right: 10px;
      line-height: 50px;
      color: #EF892F; }

.app-sidebar {
  will-change: transform; }
  .app-sidebar i {
    position: absolute;
    color: #FFFFFF;
    top: 60px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    .app-sidebar i:hover {
      color: #EF892F;
      transform: rotate(90deg); }

.app-footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #222222;
  border-top: 1px solid #FFFFFF; }
  .app-footer a {
    color: #EF892F;
    transition: color 0.5s ease; }
  .app-footer a:hover {
    color: #8E2C2C; }
  .app-footer .logo-link {
    margin-left: 15px;
    font-size: 1.3em;
    align-self: center; }
    .app-footer .logo-link img {
      margin-top: 5px;
      width: 40px; }
  .app-footer .brand-link {
    margin-left: 15px;
    font-size: 1.3em;
    color: #FFFFFF;
    text-decoration: none;
    align-self: center; }
  .app-footer .dashboard-link {
    margin-left: auto;
    margin-right: 10px;
    border: 1px solid #FFFFFF;
    padding: 5px;
    font-size: 1.5em;
    color: #EF892F;
    text-decoration: none;
    align-self: center; }
    .app-footer .dashboard-link:hover {
      color: #272F38; }
    .app-footer .dashboard-link i {
      margin-right: 5px; }
  .app-footer .footer-links {
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
    font-size: 1.5em; }
    .app-footer .footer-links a {
      margin-left: 10px; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 8px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #EF892F; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #8E2C2C; }

/* General sidebar styles */
.bm-menu {
  background: #222222;
  padding: 0;
  font-size: 2em; }
  .bm-menu::-webkit-scrollbar {
    display: none; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #222222; }

/* Wrapper for item list */
.bm-item-list {
  color: #FFFFFF;
  padding: 0.8em; }

/* Individual item */
.bm-item {
  display: inline-block;
  transition: all 0.2s ease-in-out; }
  .bm-item:hover {
    color: #EF892F; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.welcome {
  background-color: #222222; }
  .welcome .header {
    align-self: center;
    font-size: 2em;
    color: #EF892F;
    margin-top: 15px; }

.games-grid {
  margin: 25px;
  color: #FFFFFF; }
  .games-grid .game-type-row {
    display: flex;
    width: 100%;
    border: 1px solid #FFFFFF; }
    .games-grid .game-type-row .game-type-cell {
      display: flex;
      padding: 10px;
      justify-content: center;
      width: 25%;
      background-color: #272F38;
      font-weight: bold;
      font-size: 1.3em;
      border-left: 1px solid #FFFFFF; }
    .games-grid .game-type-row .game-type-games {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-grow: 1; }
      .games-grid .game-type-row .game-type-games .game-cell {
        border-left: 1px solid #FFFFFF;
        padding: 10px; }
        .games-grid .game-type-row .game-type-games .game-cell:not(first-child) {
          border-top: 1px solid #FFFFFF; }

.dashboard {
  background-color: #222222; }
  .dashboard .home {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: auto; }
    .dashboard .home .no-decks {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      align-items: center; }
      .dashboard .home .no-decks h1 {
        color: #FFFFFF; }
    .dashboard .home .decks-wrapper {
      display: flex;
      flex-direction: column;
      margin: auto; }
      .dashboard .home .decks-wrapper .decks {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px; }
        .dashboard .home .decks-wrapper .decks .deck-tile {
          position: relative;
          width: 250px; }
          .dashboard .home .decks-wrapper .decks .deck-tile img {
            width: 250px; }
          .dashboard .home .decks-wrapper .decks .deck-tile:not(:first-child) {
            margin-left: 10px; }
          .dashboard .home .decks-wrapper .decks .deck-tile .deck-name {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-25px);
            width: 100%;
            text-align: center;
            color: #FFFFFF;
            font-size: 1.5em;
            text-overflow: ellipsis;
            overflow: hidden; }
  .dashboard .create-deck {
    display: flex;
    flex-direction: column;
    margin: auto; }
    .dashboard .create-deck h1 {
      color: #FFFFFF; }
    .dashboard .create-deck form {
      margin-top: 15px;
      display: flex;
      flex-direction: column; }
      .dashboard .create-deck form label {
        display: flex;
        align-items: center;
        color: #FFFFFF; }
        .dashboard .create-deck form label:not(:first-child) {
          margin-top: 10px; }
        .dashboard .create-deck form label input, .dashboard .create-deck form label textarea {
          margin-left: 5px; }
      .dashboard .create-deck form .button {
        margin-top: 10px; }
  .dashboard .deck-builder {
    display: flex;
    width: 100%; }
    .dashboard .deck-builder > * {
      flex-basis: 50%; }
    .dashboard .deck-builder .your-deck {
      display: flex;
      flex-direction: column;
      margin: 25px;
      margin-left: auto;
      padding: 10px;
      border: 2px dashed #FFFFFF;
      overflow-y: scroll; }
      .dashboard .deck-builder .your-deck::-webkit-scrollbar {
        display: none; }
      .dashboard .deck-builder .your-deck h1 {
        align-self: center;
        color: #EF892F;
        font-size: 2em; }
      .dashboard .deck-builder .your-deck p {
        align-self: center;
        color: #FFFFFF;
        font-size: 1.2em; }
      .dashboard .deck-builder .your-deck .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px; }
        .dashboard .deck-builder .your-deck .cards .card-tile {
          width: 100px; }
          .dashboard .deck-builder .your-deck .cards .card-tile img {
            width: 100px; }
        .dashboard .deck-builder .your-deck .cards .card-stack {
          margin: 5px; }
          .dashboard .deck-builder .your-deck .cards .card-stack .card-tile:not(:first-child) {
            margin-top: -125px; }

.deck-page {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .deck-page .button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 150px;
    padding-top: 20px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    align-self: center;
    text-align: center; }
    .deck-page .button a {
      margin: auto; }
  .deck-page .your-deck {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 2px dashed #FFFFFF;
    overflow-y: scroll; }
    .deck-page .your-deck::-webkit-scrollbar {
      display: none; }
    .deck-page .your-deck h1 {
      align-self: center;
      color: #EF892F;
      font-size: 2em; }
    .deck-page .your-deck p {
      align-self: center;
      color: #FFFFFF;
      font-size: 1.2em; }
    .deck-page .your-deck .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px; }
      .deck-page .your-deck .cards .card-tile {
        width: 100px; }
        .deck-page .your-deck .cards .card-tile img {
          width: 100px; }
      .deck-page .your-deck .cards .card-stack {
        margin: 5px; }
        .deck-page .your-deck .cards .card-stack .card-tile:not(:first-child) {
          margin-top: -125px; }

.search .search-stuff {
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px; }
  .search .search-stuff label {
    color: #FFFFFF; }
    .search .search-stuff label input {
      height: 35px;
      border: none;
      padding: 0px 10px 0 10px;
      margin-left: 10px; }
  .search .search-stuff button {
    margin-left: 10px; }
  .search .search-stuff * {
    align-self: center; }

.search .cards {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  margin: 1em auto;
  align-content: space-between; }
  .search .cards::-webkit-scrollbar {
    display: none; }
  .search .cards .cards-loader {
    height: 100px;
    width: 200px; }
  .search .cards .card-tile {
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 270px;
    margin: 5px; }
    .search .cards .card-tile .card-tile-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px; }
    .search .cards .card-tile img {
      width: 200px;
      height: 270px;
      transition: all .2s ease-in-out; }
      .search .cards .card-tile img:hover {
        transform: scale(1.05); }

.card-view-container {
  display: flex;
  justify-content: center;
  margin: 20px auto; }
  .card-view-container .button {
    position: absolute;
    left: 10px; }
  .card-view-container .card-view {
    display: flex; }
    .card-view-container .card-view img {
      align-self: flex-start; }
    .card-view-container .card-view .card-info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      color: #FFFFFF; }
      .card-view-container .card-view .card-info label {
        border: 1px solid #FFFFFF;
        padding: 5px;
        max-width: 350px;
        color: #EF892F; }
        .card-view-container .card-view .card-info label:not(:first-child) {
          margin-top: 10px; }
        .card-view-container .card-view .card-info label span {
          margin-left: 5px;
          color: #FFFFFF; }
